<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:o="http://omnifaces.org/ui">

	<ui:define name="title">
        Pagina 1
    </ui:define>

	<ui:define name="contenido">

		<h3>
			<h:outputText id="usuario" value="Bienvenido Usuario: " />
			#{loginBean.usuario.nick}
		</h3>


		<p:accordionPanel>
			<p:tab title="Cuestionario">
				<h:panelGroup layout="block" id="cuerpocuestionarios">
					<h:panelGroup layout="block" id="miscuestionarios">
						<h:panelGroup layout="block" id="contenido">

							<h3>
								<h:outputText value="Total Cuestionarios:" />
								#{showQL.user}
							</h3>
							<p:commandButton value="LISTAR"
								actionListener="#{showQL.Listar()}" />
							<h:form>
								<h:commandButton action="recargar" value="RECARGAR"></h:commandButton>
							</h:form>
			<h:form>
							<p:dataTable var="lista" value="#{showQL.lista}">
								<p:column headerText="N">
									<h:outputText value="#{lista.id}" />
								</p:column>
								<p:column headerText="Cuestionario">
									<h:outputText value="#{lista.title}" />
								</p:column>
								<p:column headerText="Preguntas">
									<h:outputText value="" />
								</p:column>
								<p:column style="width:32px;text-align: center">
             						<p:commandButton icon="ui-icon-search" title="Resolver">
                						<f:setPropertyActionListener value="#{lista.id}" target="#{cuestionarioBean.elegido}" />
            						</p:commandButton>
       							</p:column>
							</p:dataTable>
				
								<h:commandButton action="resolver" value="RESOLVER CUESTIONARIO"></h:commandButton>
							</h:form>
							
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup layout="block" id="useronline">
						<b>Usuarios en linea:</b>
						<h:panelGroup layout="block" class="usuarioconectado">
							<h:panelGroup layout="block" class="avatarusuario">
								<img src="imgs/avatars/01.PNG" />
							</h:panelGroup>Leyla Carpio
				</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</p:tab>
		</p:accordionPanel>
	</ui:define>
</ui:composition>