<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">
        Inicio
    </ui:define>

	<ui:define name="contenido">

		<h2>Easy Survey</h2>
		<h3>Cuestionarios Online</h3>
		<p>EasySurvey es una herramienta online que le permitirá crear sus
			cuestionarios en linea, y compartirlos con sus amigos, alumnos y/o
			publicamente.</p>
		<p>Busque los cuestionarios públicos creados por otras personas y
			respondalos, el sistema le gererará automáticamente su nota, la que
			quedará registrada en su historial de cuestionarios realizados, para
			luego ver sus progresos.</p>
		<p>Comparta los cuestionarios con sus alumnos para tomar exámenes
			online, acceda a su cuenta para indicar que el cuestionario es de una
			sola resolución y no puede ser modificada. Asi tendrá un exámen
			practico y sencillo para sus alumnos, del mismo modo, escoja la
			cantidad de preguntas que apreceran a los alumnos y escoja las
			opciones de preguntas aleatorias para que aleatorice, la posicion, el
			orden de las preguntas y alternativas, asi como las preguntas que van
			a aperecer.</p>
	</ui:define>
</ui:composition>


