<ui:composition template="/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="title">
        Logueo
    </ui:define>

    <ui:define name="contenido">
        
        	<h:form>
		<h:panelGrid columns="3">
			<h:outputText value="Usuario:"/>
			<h:inputText id="user" value="#{loginBean.usuario.nick}"></h:inputText>
			<h:message for="user"></h:message>
			
			<h:outputText value="Contraseña:"/>
			<h:inputText id="pass" value="#{loginBean.usuario.password}"></h:inputText>
			<h:message for="pass"></h:message>
			
		</h:panelGrid>
		<h:commandButton value="ACCEDER" action="#{loginBean.verificarDatos()}"></h:commandButton>
	</h:form>
        
        
    </ui:define>
</ui:composition>


