<ui:composition template="/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="title">
        Logueo
    </ui:define>

    <ui:define name="contenido">
        
    <h:form id="formulario">
		<h2><b><u>CUENTA PREMIUM</u></b></h2><br/>
		<!-- 5 opciones de personalizacion -->
		<h:selectBooleanCheckbox id="check1" value="#{premiumBean.check1}">
			<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectBooleanCheckbox>
		 Acceso ilimitado ($ 10).<br/> 
		<h:selectBooleanCheckbox id="check2" value="#{premiumBean.check2}">
			<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectBooleanCheckbox>
		 Cero publicidad ($ 10).<br/> 
		<h:selectBooleanCheckbox id="check3" value="#{premiumBean.check3}">
			<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectBooleanCheckbox>
		 Soporte online ($ 10).<br/>
		<h:selectBooleanCheckbox id="check4" value="#{premiumBean.check4}">
			<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectBooleanCheckbox>
		 Almacenamiento en la nube ($ 10).<br/>
		<h:selectBooleanCheckbox id="check5" value="#{premiumBean.check5}">
			<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectBooleanCheckbox>
		 Contactos ilimitados ($ 10).<br/>
		<h:selectOneRadio id="divisa" value="#{premiumBean.divisa}">
		   	<f:selectItem itemValue="USD" itemLabel="$" />
		   	<f:selectItem itemValue="PEN" itemLabel="S/." />
		   	<f:ajax event="click" execute="formulario" render="output"/>
		</h:selectOneRadio>
		<h3><h:outputText id="output" value="#{premiumBean.calcularMonto}" /></h3>
		<h:commandButton value="COMPRAR">
	    	 
	   	</h:commandButton>
		<!--  
			<h:commandButton value="AJAX">
	    		 <f:ajax execute="na" render="output" />
	   		</h:commandButton>
		-->
	</h:form>
       
    </ui:define>
</ui:composition>


